body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #6671ea, #764ba2);
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

div {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 50px;
}

h2 {
  color: #00aeff;
}